@import "tailwindcss";

@theme {
  --font-arial: "Arial", sans-serif;
}

.body {
  background: #4D6479;
  background: linear-gradient(180deg,rgb(23, 53, 82) 0%,  rgb(0, 31, 63) 90%, rgb(0, 29, 58) 100%);
}